@using Jeremy.IdentityCenter.Business.Models
@model Jeremy.IdentityCenter.Business.Models.Identity.UserRolesViewModel
@{ 
    ViewBag.Title = "用户角色";
}

<form asp-controller="Identities" asp-action="UserRoles" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Identities" asp-action="Users">用户列表</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Identities" asp-action="UserInfo" asp-route-id="@Model.UserId">@Model.UserName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">用户角色</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>用户角色</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="UserId" />

            <div class="card mt-3">
                <h5 class="card-header">添加用户角色</h5>
                <div class="card-body">

                    <!--Select-->
                    <div class="form-group row">
                        <label-name  asp-for="RoleId" class="col-sm-3 col-form-label">
                        </label-name>
                        <div class="col-sm-9">
                            <select asp-for="RoleId" asp-items="@(new SelectList(Model.RolesList, "Id", "Text"))" class="form-control single-select"></select>
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">全部角色</h5>
            <div class="card-body">

                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>角色名</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Roles)
                            {
                <tr>
                    <td>@role.Name</td>
                    <td class="text-right"><a asp-action="UserRolesDelete" asp-route-roleId="@role.Id" asp-route-id="@Model.UserId" class="btn btn-danger">删除</a></td>
                </tr>}
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("Pagination", new Pagination { Action = "UserRoles", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>